body{
    margin: 0;
    background-color: #eee;
   
}
*{
    box-sizing: border-box;
}
/* header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    background-color: aqua;
    color: #00303F;
    height: 15%;
    } */
    h2{
        margin: 0;

    }
    li{
    list-style: none;
  
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 900;
    }
    a:hover{
        color: #00303F;
    }
    ul{
    display: grid;
    grid-template-columns:1fr 1fr 2fr 1fr 1fr;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    }
 
 @media (min-width:600px) {
    .icon{
        display: none;
     }
 }
    @media (max-width:600px) {
        header{
            height: 5vh;
            display: flex;
            align-items: center;
            position: relative;
        }
i{
    position: absolute;
    right: 5px;
    
    font-size: 20px;
}
   ul{
            display: none;
        }
       
    h2{
       display: none;
     }
  i:active+ul{
         display: flex;
         flex-direction: column;
         z-index: 1;
         background-color: aquamarine;
         width: 100%;
         position: absolute;
         top: 100%;
         
     }

    }
    
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95vh;
    }
.photo{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-left: 50px;
    margin-right: 50px;
    transition:0.2s;
    margin: 0 auto;
 

}
div{
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;

}

.photo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    transition:1s;
    transform:rotate(-45deg) ;
   

}
.photo div{
    padding: 5px;
}
img:hover{
    position: absolute;
    transform: none;
     z-index: 100;
     transform: scale(1.5);

}

/* @keyframes rot {
    0%{
        transform: rotate(0deg);
        width: 100px;
        height: 100px;
    }
    100%{
        transform: rotate(-45deg);
        width: 120px;
        height: 120px;
    }
} */

img:active{
    transform:scale(2);

}
.photo:active{
    transform: scale(0.5);
}

@keyframes minimum {
    0%{
        transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
       

    }
    100%{
        transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
        .photo{
            width: 200px;
            height: 200px;
        
      }} }
@media (max-width: 992px) {
    .photo{
    grid-template-columns: repeat(3,1fr);

    }
}
@media (max-width: 600px) {
    .photo{
        grid-template-columns: repeat(2,1fr);

        }
}
@media screen {
    
}